{% if chat.user == user %}
        <li class="message-sent">
          <div class="sent-bubble">
            <span>{{ chat.message }}</span>
          </div>
          <div class="svg-right">
            <svg height="13" width="8">
              <path fill="#bbf7d0" d="M6.3,10.4C1.5,8.7,0.9,5.5,0,0.2L0,13l5.2,0C7,13,9.6,11.5,6.3,10.4z"/>
            </svg>
          </div>
        </li>
    {% else %}
        <li class="message-received">
          <div class="message-row">
            <div class="avatar">
              <a href="#"><img src="{% if chat.user.profile.profile_picture %}{{ chat.user.profile.profile_picture.url }}{% else %}/media/profile_pictures/default.jpg{% endif %}">
</a>
            </div>
            <div class="svg-left">
              <svg height="13" width="8">
                <path fill="white" d="M2.8,13L8,13L8,0.2C7.1,5.5,6.5,8.7,1.7,10.4C-1.6,11.5,1,13,2.8,13z"></path>
              </svg>
            </div>
            <div class="received-bubble">
              <span>{{ chat.message }}</span>
            </div>
          </div>
          <div class="meta-info">
            <span class="user-name">{{ chat.user.first_name }}</span> <span class="user-handle">@{{ chat.user.username }}</span>
          </div>
        </li>
    {% endif %}