{% extends "main/layout.html" %}

{% block title %}
    Login - CollageVibs
{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Login</h1>
<form action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    {{ form.username }}

    <label for="password">Password:</label>
    {{ form.password }}

    <button type="submit">Login</button>
    
     <a href="{% url 'users:register' %}" class="link-button">
      Create Account
    </a>
    
</form>

</div>

{% endblock %}