{% extends "main/layout.html" %}

{% block title %}
    Profile - CollageVibs
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-image-container">
        <img src="{% if profile.profile_picture %}{{ profile.profile_picture.url }}{% else %}/media/profile_pictures/default.jpg{% endif %}" alt="Profile picture" class="profile-picture">
    </div>
    <div class="profile-info">
        <div class="profile-name">
            <p>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
        </div>
        <p class="profile-username">@{{ profile.user.username }}</p>
        <p>Collage ID: {{ profile.college_id }}</p>
    </div>
    <a class="edit-button" href="{% url 'users:profile_edit' %}">Edit</a>
    
</div>
{% endblock %}
