{% extends "main/layout.html" %}

{% block title %}
    Register - CollageVibs
{% endblock %}

{% block content %}
<h1>Register</h1>
<form action="{% url 'users:register' %}" method="POST" enctype="multipart/form-data" class="custom-form">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <label for="username">Username:</label>
  {{ form.username.errors }}
  {{ form.username }}

  <label for="first_name">First Name:</label>
  {{ form.first_name.errors }}
  {{ form.first_name }}

  <label for="last_name">Last Name:</label>
  {{ form.last_name.errors }}
  {{ form.last_name }}

  <label for="college_id">College ID:</label>
  {{ form.college_id.errors }}
  {{ form.college_id }}

  <label for="profile_picture">Profile Picture:</label>
  {{ form.profile_picture.errors }}
  {{ form.profile_picture }}

  <label for="password1">Enter Password:</label>
  {{ form.password1.errors }}
  {{ form.password1 }}

  <label for="password2">Confirm Password:</label>
  {{ form.password2.errors }}
  {{ form.password2 }}

  <button type="submit">Register</button>
</form>

{% endblock %}