{% extends "main/layout.html" %}
{% block title %}
  Search - CollageVibs
{% endblock %}

{% block content %}
<div class="search-container">
  <form method="get" action="{% url 'users:search' %}" class="user-search-container">
    <input type="text" name="q" placeholder="Search for username..." class="user-search-input">
    <button type="submit" class="user-search-button">
      Search
    </button>
  </form>

  {% for profile in profiles %}
    <div class="user-profile-container">
      <div>
        {% if profile.profile_picture %}
          <img src="{{ profile.profile_picture.url }}" alt="Profile picture" class="user-profile-picture">
        {% else %}
          <img src="/media/profile_pictures/default.jpg" alt="Default profile picture" class="user-profile-picture">
        {% endif %}
      </div>
      <!-- Wrap profile text in .profile-text for proper spacing and alignment -->
      <div class="profile-text">
        <h3>{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>
        <p>@{{ profile.user.username }}</p>
        <p>ID: {{ profile.college_id }}</p>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Add</button>
        <div class="dropdown-content">
          {% for club in your_clubs %}
          <a href="{% url 'clubs:send_invite' club_id=club.id user_id=profile.user.id %}">
          {{ club.name }}
          </a>
        {% empty %}
          <span style="padding: 0.5rem 1rem; display: block;">No clubs created</span>
        {% endfor %}
        </div>
      </div>
    </div>
  {% empty %}
    <p>No users found.</p>
  {% endfor %}
</div>
{% endblock %}
