{% extends "main/layout.html" %}
{% load custom_filters %}
{% block title %}
    CollageVibs
{% endblock %}

{% block content %}
<div class="cv-home-container">
  <div class="cv-chat-box">
    <div class="cv-unread-bubble">3</div>
    <div class="cv-chat-content">
      <h1>Global Chat</h1>
      <p class="cv-chat-desc">Open space for all college students</p>
    </div>
    <div class="cv-online-count">{{ online_users_global }} online</div>
  </div>

  {% for club in clubs %}
    <div class="cv-chat-box">
      <div class="cv-unread-bubble">5</div>
      <div class="cv-chat-content">
        <h2>{{ club.name }}</h2>
        <p class="cv-chat-desc">{{ club.description }}</p>
      </div>
      <div class="cv-online-count">
        {{ online_users_club|get_item:club.id }} online
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
