<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
          CollageVibs
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=rage-mode">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    {% if not hide_navbar %}
    <nav>
        <a href="{% url 'users:logout' %}">
        <button>logout</button>
        </a>
    </nav>
{% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>