<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
          CollageVibs
        {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    {% comment %} Hypertext {% endcomment %}
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    {% comment %} Htmx {% endcomment %}
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=rage-mode">
    <script src="{% static 'js/main.js' %}" defer></script>

    {% comment %} htmx websocket {% endcomment %}
   <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
</head>
<body hx-ext="ws">
    {% if not hide_navbar %}
    <nav class="navbar">
        <div class="logo">
            <h1>CollageVibs</h1>
        </div>
        <div class="nav-links">
            <a href="#">something</a>
            <a href="#">something</a>
            <a href="#">something</a>
        </div>
        
         
        
        <a href="{% url 'users:logout' %}" class="logout-button">logout</a>
        
         
        
        
    </nav>
{% endif %}
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>